[submodule "libogg"]
	path = libogg
	url = https://github.com/brion/ogg.git
[submodule "libvorbis"]
	path = libvorbis
	url = https://github.com/brion/vorbis.git
[submodule "libtheora"]
	path = libtheora
	url = https://github.com/brion/theora.git
